<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ data.subject }}</title>
    </head>
    <body>
        {{ data.name }}<br>
        {{ data.email }}<br>
        {{ data.subject }}<br>
        {{ data.message }}
    </body>
</html>
